{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="container mt-5">
        <h4>Приложение для проверки и улучшения кода (Тестовое задание для Skyeng)</h4>
        <p>
            Данное приложение предназначено для оптимизации процесса разработки, обеспечивая следующий функционал:
        </p>
        <ul>
            <li>
                <i class="fas fa-user"></i> Регистрация и авторизация пользователей в системе.
            </li>
            <li>
                <i class="fas fa-file-upload"></i> Загрузка файлов с исходным кодом для проверки и ревью.
            </li>
            <li>
                <i class="fas fa-check-circle"></i> Автоматическая проверка кода на соответствие общепринятым правилам.
            </li>
            <li>
                <i class="fas fa-envelope"></i> Отправка уведомлений пользователям о результатах проверки.
            </li>
            <li>
                <i class="fas fa-list"></i> Отчеты о проведенных проверках и отправленных уведомлениях.
            </li>
        </ul>
    </div>
</div>
{% endblock content %}