{% load static %}
{% block css %}
<link href="{% static 'base/css/nav.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">CodeReview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'documents:documents'%}">Мои файлы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'documents:add_document'%}">Добавить файл</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span>{{ user.email }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="{% url 'users:profile' user.id %}">Мой профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item me-0">
                    <a class="nav-link" href="{% url 'users:login' %}">
                        <i class="fas fa-sign-in-alt"></i> Войти
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock content %}
