{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% if messages or form.non_field_errors %}
            <div class="alert
              {% if messages %}
                {% for message in messages %}
                  {% if 'success' in message.tags %}
                    alert-success
                    {% else %}
                    alert-warning
                  {% endif %}
                {% endfor %}
              {% else %}
                alert-warning
              {% endif %}
              alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">

                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% else %}
                {{ form.non_field_errors }}
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <h4 class="mt-3 mb-3">Профиль</h4>
            <form action="{% url 'users:profile' user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <label for="{{ form.accept_emails.auto_id }}" class="form-label">
                        Получать электронные письма с результатами анализов?</label>
                    {{ form.accept_emails }}
                </div>
                <button type="submit" class="btn btn-primary mt-3 w-100">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}